<h2>Mostrar el detalle de los puntajes</h2>
<h2>Detalles tipos de puntaje</h2>

<h3>id: <%= @puntaje.id %></h3>
<h1><%= @puntaje.tipo %></h1>

<%= link_to nuevo_tipo_puntaje_path do %>
Volver
<% end %>